{% extends "root.html" %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    {% block header %}
    {{ super() }}
     
   
    {% endblock %}
    {% block nav %}

    
    <hr>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
  
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <center><div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <div class="navbar-nav">
        <a class="nav-item nav-link active" href={{url_for('admin.request_company')}}><button>Manage Company</button></a>
    <a class="nav-item nav-link active" href={{url_for('admin.request_drive')}}><button>Manage Drive</button></a>
    <a class="nav-item nav-link active"><button >History</button></a>
    <a class="nav-item nav-link active"><button>Analysis/Report</button></a>
    <a class="nav-item nav-link active"><input type="search" placeholder="name/contact/id/drive/ user"></center><br></a>
    
      
    </div>
  </div></center>
</nav>
  
    {% endblock %}
    
    

     {% block body  %}
      
    <center><div class="card" style="width: 18rem;">
    <ul class="list-group list-group-flush">
        <li class="list-group-item">Total Approved Company {{count_comp}}</li>
        <li class="list-group-item">Total Enrolled Student {{count_stu}}</li>
        <li class="list-group-item">Total Active Drive {{count_drive}}</li>
        
        
    </ul>
    </div></center>
   
     
{% endblock %}
   
    {% block footer %}
    {{ super() }}
     
   
    {% endblock %}
</body>
</html>
