<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
     <div class="set"> <select name="filter" id="filter" placeholder="enter"> 
            <option name="All" disabled selected >Filter</option>
            <option name="All" >All</option>
            <option name="Pending">Pending </option>
            <option name="Ongoing">Ongoing</option>
            <option name="Completed">Completed</option>

        </select>
        <input type="submit" value="GO"></div>
    </form>
    
</body>
</html>