<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script defer>
        
        function text(){
            document.getElementsByClassName("comp")[0].innerText+="visit page"


        }
       
    </script>
</head>
<body>
    <a href={{url_for('admin.admin')}}><button> back</button></a>
    <form method="post">
     <div class="set"> <select name="filter" id="filter" placeholder="enter"> 
            <option name="All" disabled selected >Filter</option>
            <option name="All" >All</option>
            <option name="Pending">Pending </option>
            <option name="Ongoing">Ongoing</option>
            <option name="Completed">Completed</option>

        </select>
        <input type="submit" value="GO"></div>
    </form>
   <u> <center> List of <mark>{{state}}</mark>  Drives</center>
     <table>
        <tr><th>Drive Name</th><th>Details</th><th>Status</th><th>control</th><th>No of Applicant</th><th>View applicants</th<th>result</th></tr>
        {%for job in lisi%}
        {%if job["status"]=="pending"%}
        <tr><td>{{job["drive_name"]}}</td><td><a href={{url_for('admin.view_drive_com',di=job["drive_id"])}}><button class="comp">View</button></a></td><td><a href={{url_for('admin.update_drive',idid=job["drive_id"])}}><button>approve</button></a></td><td><a href={{url_for('admin.rejectD',di=job["drive_id"])}}><button>Blacklist</button></a></td><td>NA</td></tr>
        {%elif job["status"]=="active"%}
        <tr><td>{{job["drive_name"]}}</td><td><a href={{url_for('admin.view_drive_com',di=job["drive_id"])}}><button>View</button></a></td><td><button>{{job["status"]}}</button></td><td><button>mark as Completed</button></td><td>show</td></tr>
        {%elif job["status"]=="closed"%}
        <tr><td>{{job["drive_name"]}}</td><td><a href={{url_for('admin.view_drive_com',di=job["drive_id"])}}><button>View</button></a></td><td><button>{{job["status"]}}</button></td><td><button>View result</button></td><td>{{appli}}</td></tr>
        {%endif%}
        
        {%else%}
             <center> Not Found</center>
        
        {%endfor%}
    </table>
</body>
</html>