<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <center><input type="search" placeholder="name/contact/id/drive/ user"></center><br>
    <li>
        <ul>Total Approved Company {{count_comp}}</ul>
        <ul>Total Enrolled job seeker {{count_stu}}</ul>
        <ul>Total Active Drive {{count_drive}}</ul>
        <button> Blacklist Details</button>
        
    </li>
    <hr>
   <center> <button>Manage Student</button>
    <a href={{url_for('admin.request_company')}}><button>Manage Company</button></a>
    <button>Manage Drive</button>
    <button>History</button>
    <button>Analysis/Report</button>
    <a href={{url_for('log.logout')}}><button>Log out</button></a></center>
    


   
    
</body>
</html>
