<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <a href={{url_for('company.company', idi=idi)}}><button>Go back</button></a>
    <form method="Post">
        
        <select name="filter" id="filter" placeholder="enter"> 
            <option name="All" disabled selected >Filter</option>
            <option name="All" >All</option>
            <option name="History">History</option>
            <option name="Active">Active </option>
            <option name="Pending">Pending</option>
            <option name="Rejected">Rejected</option>

        </select>
        <input type="submit" value="GO">
    </form>
    <table>
        <tr><th>Drive Name</th> <th>Details</th><th>Control</th><th>No of applicant</th></tr>
            {%for job in jobs%}
            {%if job["status"]=="active"%}
            <tr> <td>{{job["drive_name"]}}</td><td><a href={{url_for('company.driveUpdate',di=job["drive_id"])}}><button>View Details</button></a></td><td><button>Mark as completed</button></td></tr>
            {%elif job["status"]=="closed"%}
            <tr> <td>{{job["drive_name"]}}</td><td><button>View Details</button></td><td><div>clompeted</div></td></tr>

            {%else%}
            <tr> <td>{{job["drive_name"]}}</td><td>status:{{job["status"]}}</td><td>NA</td><td>NA</td></tr>
            {%endif%}
        {%else%}
             <center> Not Found</center>
        {%endfor%}
    </table>
    
</body>
</html>