<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div>
        <form method="post">
            <label for="Company_Name"> Organization Name:</label>
            <input type="text" name="Company_Name" id="Company_Name">
            
            <label for="Company_website"> Organization Website:</label>
            <input type="url" name="Company_website" id="Company_website">

            <label for="Company_contacts"> Contacts:</label>
            <input type="tel" name="Company_contacts" id="Company_contacts">

            <label for="Company_about"> About:</label>
            <input type="text-area" name="Company_about" id="Company_about">

            <input type="submit" value="Add">


        </form>
    </div>
</body>
</html>