<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form method="post">
        <label>Company/Organization Name</label>
        <input type=text placeholder="name" name="Name" id="Name"><br>
        <label>Location</label>
        <input type="text" placeholder="town,state,country" name="Location" id="Location"><br>
        <label>COmpany/Organization Company</label>
        <input type="tel" placeholder="phone" name="contact" id="contact"><br>
        <label>COmpany/Organization website</label>
        <input type="url" placeholder="website" name="website" id="website"><br>
        <label>About:-</label>
        <textarea placeholder="description" name="about" id="about"></textarea><br>
        <input type="submit" value="apply">
    </form>
</body>
</html>