<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Form</title>
  </head>
  <body>
    <form method="post">
      <label for="email">Name</label>
      <input name="email" id="email" type="email" />
      
      <label for="pass">Create Password</label>
      <input name="pass" id="pass" />
      <label for="Cpass">Confirm Password</label>
      <input name="Cpass" id="Cpass" />
      <label for="Name">Acc_Type</label>
      <select name="Type" id="Type">
        User Type:
        <option value="student">Student</option>
        <option value="company">Company/organization/Recruiter</option>
      </select>
      <button>create account</button>
    </form>
  </body>
</html>