<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    {%if user=="company"%}
    <button>Back</button>
     <a href={{url_for("company.company", idi=company)}}><button>Home</button></a>
    <center>Update and view applicants</center>
    <table>
    <tr><th>Student_id</th><th>Name</th><th>Evaluate Result</th></tr>
    {%for a in all%}
    <tr><td>{{a["rono"]}}</td><td>{{a["student_Name"]}}</td><td><button>View and Update</button></td></tr>
    {%else%}
    NO data found!
    {%endfor%}
    </table>
    {%elif user="admin"%}
    {%end if%}
    <center>Update and view applicants</center>
    <table>
    <tr><th>Student_id</th><th>Name</th><th>Evaluate Result</th></tr>
    {%for a in all%}
    <tr><td>{{a["rono"]}}</td><td>{{a["student_Name"]}}</td><td><button>View data</button></td></tr>
    {%else%}
    NO data found!
    {%endfor%}
    </table>


</body>
</html>