<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    {%if user=="company"%}
    <a href={{url_for("company.manage", idi=company)}}><button>Back</button></a>
     <a href={{url_for("company.company", idi=company)}}><button>Home</button></a>
    <center>Update and view applicants</center>
    <table>
    <tr><th>Student_id</th><th>Name</th><th>Evaluate Result</th></tr>
    {%for a in all%}
    <tr><td>{{a["rono"]}}</td><td>{{a["student_Name"]}}</td><td><a href={{url_for('company.update',aid=a["applicationId"])}}><button>View and Update</button></a></td></tr>
    {%else%}
    NO data found!
    {%endfor%}
    {%elif user=="admin"%}
    </table>
    
   
    <center>Update and view applicants</center>
    <table>
    <tr><th>Student_id</th><th>Name</th><th>Evaluate Result</th></tr>
    {%for a in all%}
    <tr><td>{{a["rono"]}}</td><td>{{a["student_Name"]}}</td><td> <a herf={{url_for('admin.apply_view',id=a["applicationId"])}}><button>View data</button></a></td></tr>
    {%else%}
    NO data found!
    {%endfor%}

    </table>
    {%endif%}


</body>
</html>