<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
     <a href={{url_for('student.student',idi=idi)}}><button>Home</button></a>
    <button>My Application</button>
    <button>Notifications</button>
    <center>
        Ongoing Drives
    </center>
    <table>
        <th><td>Title</td><td>Posted_By</td><td>Details</td><td>Total Applicants</td><td>Apply Now</td></th>
        {%for job in actives%}
           <tr><td>{{job["drive_name"]}}</td><td><button class="comp">{{job["company_name"]}}</button></td><td><button>Job description</button></td><td>{{appli}}</td><td>Apply</td></tr>
        {%else%}
           <center> Not Found</center>
        {%endfor%}

    
    </table>
</body>
</html>