<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
     <a href={{url_for('student.student',idi=idi)}}><button>Home</button></a>
    <button>My Application</button>
    <button>Notifications</button>
    <center>
        Ongoing Drives
    </center>
    <table>
        <tr><th>Job Title</th><th>Posted By</th><th>View</th></tr>
        {%for job in actives%}
           <tr><td>{{job["drive_name"]}}</td><td>{{job["company_name"]}}</td><td><a href={{url_for('student.Applicant',idi=idi,di=job["drive_id"])}}><button>View Details </button></a></td></tr>
        {%else%}
           <center> Not Found</center>
        {%endfor%}

    
    </table>
</body>
</html>