<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <header>
        
    </header>
    <nav>
        <input type="search" placeholder="search skill match/ experience match/ location match/ job type match">
        <a href={{url_for('student.Update',idi=idi)}}><button>Edit profile</button></a>
        <button>History</button>
        <button>About us</button>
        <button>Ongoing</button>
        <button>Notification</button>
    </nav>
    <main>

    </main>
    <footer>

    </footer>
</body>
</html>
